<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://mdbootstrap.com/api/snippets/static/download/MDB5-Pro-Advanced_3.10.1/css/mdb.min.css"
    />
    <link
      rel="stylesheet"
      href="https://mdbootstrap.com/api/snippets/static/download/MDB5-Pro-Advanced_3.10.2/plugins/css/all.min.css"
    />
    <link rel="stylesheet" href="https://icons.getbootstrap.com/icons/code/" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <title>About</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Venkatesh E</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/competitiveprogramming"
                  >Competitive Pogramming</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact me</a>
              </li>
            </ul>
          </div>
          <a
            href="{% static 'files/resume.pdf' %}"
            download
            rel="noopener noreferrer"
            target="_blank"
          >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              My Resume
            </button>
          </a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 text-center bg">
            <img
              src="{% static 'img/jacke.jpg' %}"
              alt="profilepic"
              height="250"
              style="border-radius: 50%"
            />
          </div>
          <div class="col-md-10 text-center bg">
            <h1 class="display-1">
              Venkatesh E
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100"
                height="100"
                fill="currentColor"
                class="bi bi-code-slash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"
                ></path>
              </svg>
            </h1>
            <h2 class="desc">Software Developer</h2>
            <p>
              " An articulate and quick thinking young individual with a problem
              solving mindset. Also fond of Network&Cybersecurity also acing the
              journey of competitive programming. "
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 bg">
            <h3>My Info:</h3>
            <h5>
              <i
                class="fas fa-user-graduate"
                style="font-size: 48px; color: red"
              ></i>
              Bachelor of Technology(Computer Science)
            </h5>
            <h5>
              <i
                class="fas fa-map-marker-alt"
                style="font-size: 48px; color: red"
              ></i
              >Chennai,India
            </h5>
            <h3>Skilled In:</h3>
            <ul style="list-style: none">
              <li>
                <img
                src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-networking-3d-printing-and-communication-flatart-icons-outline-flatarticons.png"
                height="30" width="30"" />Networks
              </li>
              <li>
                <img
                  src=" https://img.icons8.com/material/24/000000/source-code--v1.png"
                  height="30"
                  width="30"
                />Programming
              </li>
              <li>
                <img
                  src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-web-development-coding-kiranshastry-lineal-color-kiranshastry.png"
                  height="30"
                  width="30"
                />Web Development
              </li>
            </ul>
          </div>
          <div class="col-md-4 bg">
            <h3>Languages Inhand:</h3>
            <img
              src="{% static 'img/python.jfif' %}"
              class="rounded-circle"
              alt=""
              height="100"
              width="100"
            />
            <img
              src="{% static 'img/c++.png' %}"
              class="rounded-circle"
              alt=""
              height="100"
              width="100"
            />

            <h3>Badged On:</h3>
            <img
              src="{% static 'img/awsgraduate.png' %}"
              class="img-rounded"
              alt=""
              height="120"
              width="120"
            />
            <img
              src="{% static 'img/ccna.png' %}"
              class="img-rounded"
              alt=""
              height="100"
              width="100"
            />
            <img
              src="{% static 'img/ibm.png' %}"
              class="img-rounded"
              alt=""
              height="100"
              width="100"
            />
          </div>
          <div class="col-md-3 bg">
            <h3>Working On:</h3>
            <img
              src="{% static 'img/bootstrap.png' %}"
              class="rounded-circle"
              alt=""
              height="100"
              width="100"
            />
            <img
              src="{% static 'img/django.png' %}"
              class="rounded-circle"
              alt=""
              height="100"
              width="100"
            />
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-black text-center text-white pt-3">
      <!-- Grid container -->
      <h3>Connect me</h3>
      <div class="container p-0 pb-0">
        <!-- Section: Social media -->
        <section class="mb-1 pt-10">
          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998"
            href="https://www.facebook.com/venkatesh.jacke"
            target="__blank"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="https://twitter.com/VenkateshJacke"
            target="__blank"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39"
            href="mailto:venkateshjacke@gmail.com"
            target="__blank"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="https://www.instagram.com/venkateshjacke/"
            target="__blank"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca"
            href="https://www.linkedin.com/in/venkatesh-e-700a41204/"
            target="__blank"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333"
            href="https://github.com/venkatesh-jacke"
            target="__blank"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-1-fluid" style="background-color: black">
        © 2020 Copyright:
        <a class="text-white" href="#">Venkateshjacke</a>
      </div>
      <!-- Copyright -->
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
