<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://mdbootstrap.com/api/snippets/static/download/MDB5-Pro-Advanced_3.10.1/css/mdb.min.css"
    />
    <link
      rel="stylesheet"
      href="https://mdbootstrap.com/api/snippets/static/download/MDB5-Pro-Advanced_3.10.2/plugins/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/cp.css' %}" />
    <title>CP</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Venkatesh E</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/competitiveprogramming"
                  >Competitive Pogramming</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum at
        beatae, vitae voluptatum facilis tenetur! Quae magnam, vero autem
        dolores impedit dolorem excepturi necessitatibus quibusdam itaque
        eveniet ullam nesciunt perspiciatis. Dolorem reprehenderit, veritatis
        excepturi delectus consectetur aliquid velit aperiam aspernatur, laborum
        similique labore quia provident id dolore unde adipisci quibusdam beatae
        rem. Necessitatibus minima praesentium ea. Sunt explicabo fugit
        deleniti. Suscipit Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Sequi sit excepturi at ex molestiae, aperiam libero quia?
        Perferendis, quam debitis neque itaque sint commodi eligendi ut quidem,
        iste velit laboriosam. Aut architecto laborum, atque sit fugit voluptate
        sint mollitia? Dolorem hic voluptatum officiis, ipsa distinctio
        excepturi llorem*10aboriosam, sapiente numquam quidem sequi dolore
        nesciunt unde voluptatem repudiandae adipisci mollitia temporibus ea.
        Est reprehenderit eligendi non eius qui amet omnis iste temporibus
        aliquid nulla. Tempore nesciunt aliquam veniam quisquam veritatis magnam
        aliquid pariatur fugit? Sed molestias voluptatibus est corporis soluta
        ad labore. Optio, esse aspernatur! Blanditiis repellendus atque,
        impedit, repudiandae harum tempore vitae non dignissimos explicabo
        voluptate quibusdam aliquid pariatur suscipit? Nisi laudantium cum atque
        doloribus, adipisci voluptatum perferendis hic accusantium qui! Porro
        iure libero dolorem dolor, quo numquam. Consequatur, quaerat accusamus
        iste, nihil commodi voluptatem quasi nesciunt corrupti hic Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Iste dolorum eveniet aut,
        soluta voluptatem laborum sed nostrum adipisci laboriosam rerum
        exercitationem maiores totam quidem pariatur veniam accusantium id?
        Nesciunt, qui. Nihil eveniet aut aperiam delectus eos hic sint,
        praesentium recusandae doloremque, ipsa consectetur, dolores rerum.
        Dicta veniam est quae accusantium vel cupiditate, asperiores
        perspiciatis facere repellat ut quo iure recusandae. Debitis quos, eaque
        amet repellat accusantium obcaecati voluptate ex natus sint quam
        perspiciatis et corrupti, consequuntur deserunt totam velit minima minus
        asperiores quaerat quod suscipit fuga soluta nihil. Suscipit, quod.
        Distinctio nisi quod magni nostrum porro quam cum inventore
        reprehenderit exercitationem tempore delectus natus quisquam, libero
        neque numquam voluptas quaerat iusto nesciunt esse soluta dolore ab at
        sint? Numquam, quis. Maxime dolorem eius quas unde incidunt repudiandae
        commodi, ullam, ex autem accusamus quam nostrum tempore dignissimos
        cupiditate saepe! Odit distinctio unde ut voluptates deserunt autem?
        Repellendus molestiae ducimus eaque neque. Minima, facere! Velit
        laudantium perspiciatis voluptas ipsam laborum aliquid fugiat id
        mollitia eveniet saepe! Dolor earum unde at modi ad vel enim fuga,
        officia non soluta voluptatum omnis, quasi quam? Totam officia aut
        minima obcaecati! Cumque sed tempora corrupti vero dolor eligendi nisi,
        voluptatem quis impedit soluta autem animi placeat tenetur quibusdam
        perferendis harum quidem, atque laborum ut officia aperiam. Dolor
        laborum sequi eum ipsam nihil temporibus a quam quibusdam dignissimos
        sint, soluta mollitia aspernatur tempore non sapiente assumenda porro
        totam enim quaerat consequatur perspiciatis praesentium? Cupiditate
        provident accusantium nesciunt? Incidunt assumenda natus a omnis nemo,
        aut ipsa, amet sint quidem cumque numquam id repellat architecto
        voluptatum modi quam similique, quaerat vel nesciunt sit. Maiores et
        exercitationem similique reiciendis libero? Vel rerum sed pariatur
        praesentium, alias non, ipsa vitae sint adipisci rem autem dolorum
        labore et ducimus repudiandae fugit animi assumenda. Asperiores culpa
        odio repellendus assumenda dolore, ratione pariatur
        temporibus.laudantium, ducimus voluptatibus quidem. Excepturi quidem
        ullam magnam repellat! Debitis, laboriosam vel? velit nemo omnis fugiat
        illo, quae, blanditiis in rem animi, iusto similique et impedit?
        Mollitia assumenda esse quos, excepturi tenetur deserunt eveniet
        expedita voluptate nisi, sint iste, unde officia.
      </h3>
    </main>
    <footer class="bg-black text-center text-white pt-3">
      <!-- Grid container -->

      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-1-fluid" style="background-color: black">
        © 2020 Copyright:
        <a class="text-white" href="#">Venkateshjacke</a>
      </div>
      <!-- Copyright -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
