<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->

    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"

  />

    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />

    <title>Contact</title>
  </head>

  <body>
    <div class="background-image"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Venkatesh E</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/competitiveprogramming"
                >Competitive Pogramming</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">Contact me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-3" id="contacts">
      <h2 class="text-center my-3">Contact Me</h2>
      <form action="/contact/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name"><strong>Name</strong></label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Your Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"
            ><strong>Email address</strong></label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"
            ><strong>Phone Number</strong></label
          >
          <input
            type="phone"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Your Number"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1"
            ><strong>Explain Your Concern</strong></label
          >
          <textarea
            class="form-control"
            id="msg"
            name="msg"
            rows="3"
          ></textarea>
        </div>

        <div class="container my-3"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <footer>

      <div class="footer-content mb-4">


          <div class="social-menu" align="center">


              <ul>
                  <li><a href="https://www.facebook.com/venkatesh.jacke" target="__blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/VenkateshJacke" target="__blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/venkateshjacke/" target="__blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://github.com/venkatesh-jacke" target="__blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/venkatesh-e-700a41204/" target="__blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a  href="mailto:venkateshjacke@gmail.com" target="__blank"><i class="fa fa-google"></i></a></li>
              </ul>
          </div>
          <div class="footer-bottom" align="center">
              


          </div>

  </footer>
    
   
      {% comment %} <div
        class="footer-copyright text-center bg-black text-light position-absolute fixed-bottom"
      >
        © 2022 Copyright - All Rights Reserved
      </div> {% endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
