@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Architects+Daughter&family=Ubuntu:wght@500&display=swap");
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar {
  min-width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100vw;
}
body {
  position: relative;
  min-height: 100vh;
  /* background-image: url("../img/bg3.png"); */
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

.bg {
  border: 1px solid black;
}
.display-1 {
  font-family: "Akaya Telivigala", cursive;
  color: white;
}
.desc {
  font-family: "Akaya Telivigala", cursive;
  font-family: "Architects Daughter", cursive;
  color: white;
  font-weight: bolder;
}
p {
  font-family: "Akaya Telivigala", cursive;
  font-family: "Architects Daughter", cursive;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
}
footer {
  /* position: absolute; */
  position: relative;

  bottom: 0;
  left: 0;
  right: 0;

  background: rgb(0, 0, 0);
  height: auto;
  width: 100vw;
  display: inline-block;
  padding-top: 40px;
  color: rgb(0, 0, 0);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 0px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: rgb(0, 0, 0);

  width: 100vw;
  padding: 0px;
  padding-bottom: 40px;
}

.footer-bottom p {
  float: bottom;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: bottom;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 900;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.social-menu {
  position: relative;
  display: flex;
}

.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #131418;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(6) a:hover {
  background-color: #da1212;
}
